.Ticket__TimePlaceLabel {
	font-family: Helvetica;
}

.Ticket__TimePlaceLabel_time {
	font-size: 32px;
	color: #4A4A4A;
	letter-spacing: 0;
	line-height: 26px;
	margin-bottom: 10px;

}

.Ticket__TimePlaceLabel_place {
	font-size: 12px;
	color: #4A4A4A;
	line-height: 18px;
}

.Ticket__TimePlaceLabel_date {
	font-size: 12px;
	color: #979797;
}