.App {
  text-align: center;
  background-color: #f3f7fa;
  font-family: Helvetica;
  letter-spacing: 0.5px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}