.btn-link:hover {
	text-decoration: none;
}

.only-filter {
	display: none;
	float: right;
}

.list-group-item {
	border: none;
	padding: 5px;
}

.list-group-item:hover {
	background-color: #eaf8ff;
}

.list-group-item:hover .only-filter {
	display: inline-block;
}

.btn-currency {
	font-weight: bold;
	color: #2e8dff;
 	background-color: #ffffff;
  	border-color: #bcbcbc;
}

.btn-currency:hover {
  color: #3078ff;
  background-color: #eaf8ff;
  border-color: #2e8dff;
}

.btn-currency:active,
.btn-currency.active,
.btn-currency.focus,
.btn-currency:focus {
  color: #ffffff;
  background-color: #2e8dff;
  border-color: #2e8dff;
}

.default-checkbox {
	display: none;
}

.custom-checkbox {
	background: url('../resources/checkbox.png') no-repeat;
	background-size: 50px 25px;
	margin-right: 10px;
	cursor: pointer;
	vertical-align: middle;
}

.default-checkbox + .custom-checkbox {
	background-position: -25px, 0px;
	height: 25px;
	width: 25px;
	display: inline-block;
}

.default-checkbox:checked + .custom-checkbox {
	background-position: 0px, 0px;
	height: 25px;
	width: 25px;
	display: inline-block;
}

