.settings {
	background-color: #ffffff;
	border-style: solid;
  	border-width: 1px;
}

.settings > h5 {
	padding: 20px;
	margin: 0px;
}

.btn-link:hover {
	text-decoration: none;
}

.only-filter {
	display: none;
	float: right;
	padding: 0 0 0 0px;
}

.list-group {
	padding-bottom: 20px;
}

.list-group-item {
	height: 50px;
	border: none;
}

.list-group-item:hover {
	background-color: #eaf8ff;
}

.list-group-item:hover .only-filter {
	display: inline-block;
	vertical-align: middle;
}

.currency-btn-group {
	display: block;
	width: 100%;
}

.btn-currency {
	width: 30%;
	height: 50px;
	font-weight: bold;
	color: #008ff7;
 	background-color: #ffffff;
  	border-color: #bcbcbc;
}

.btn-currency:hover {
  color: #008ff7;
  background-color: #eaf8ff;
  border-color: #008ff7;
}

.btn-currency:active,
.btn-currency.active,
.btn-currency.focus,
.btn-currency:focus {
  color: #ffffff;
  background-color: #008ff7;
  border-color: #008ff7;
}

.default-checkbox {
	display: none;
}

.custom-checkbox {
	background: url('../resources/checkbox.png') no-repeat;
	background-size: 50px 25px;
	margin-right: 10px;
	cursor: pointer;
	vertical-align: middle;
}

.default-checkbox + .custom-checkbox {
	background-position: -25px, 0px;
	height: 25px;
	width: 25px;
	display: inline-block;
}

.default-checkbox:checked + .custom-checkbox {
	background-position: 0px, 0px;
	height: 25px;
	width: 25px;
	display: inline-block;
}

