.ticket-box {
	box-shadow: 0 1px 4px 0 rgba(91,137,164,0.25);
	border-radius: 10px;
}

.ticket-box:hover {
	box-shadow: 0 5px 25px 0 rgba(91,137,164,0.10);
}

.ticket-part {
	display: inline-block;
	padding: 20px;
	height: 160px;
	background-color: #ffffff;
}

.price-container {
	width: 200px;
	border-radius: 10px 0px 0px 10px;
}

.details-container {
	width: 400px;
	top: 0px;
	border-left: solid 1px #ECEFF1;
	border-radius: 0px 10px 10px 0px;
}

.buy-btn {
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0;
	text-align: center;
}

.buy-btn,
.buy-btn:active,
.buy-btn:focus,
.buy-btn.active {
  background-color: #FF6D00;
  border-color: #FF6D00;
}

.buy-btn:hover {
  background-color: #FF8124;
  border-color: #FF8124;
}

.first-layer {
	font-family: Helvetica;
	font-size: 32px;
	color: #4A4A4A;
	letter-spacing: 0;
	line-height: 26px;
	margin-bottom: 10px;
}

.second-layer {
	font-family: Helvetica;
	font-size: 12px;
	color: #4A4A4A;
	line-height: 18px;
}

.third-layer {
	font-family: Helvetica;
	font-size: 12px;
	color: #979797;
}

.stops-label {
	font-family: Helvetica;
	font-size: 10px;
	color: #979797;
	text-align: center;
	line-height: 12.1px;
}