.Settings {
	background-color: #ffffff;
	box-shadow: 0 1px 4px 0 rgba(91,137,164,0.25);
	border-radius: 10px;
	width: 250px;
}

.btn-link:hover {
	text-decoration: none;
}

.only-filter {
	display: none;
	float: right;
	padding: 0 0 0 0px;

	font-size: 11px;
	color: #2196F3;
	line-height: 35px;
}

.list-group {
	padding-bottom: 20px;
}

.list-group-item {
	height: 40px;
	border: none;
	margin: 0px;
}

.list-group-item:hover {
	background-color: #eaf8ff;
}

.list-group-item:hover .only-filter {
	display: inline-block;
	vertical-align: middle;
}

.checkbox > label {
	font-size: 13px;
	color: #4A4A4A;
	line-height: 35px;
}

.default-checkbox {
	display: none;
}

.stop {
	cursor: pointer;
}

.custom-checkbox {
	background: url('../../resources/checkbox.png') no-repeat;
	/*background-size: 50px 25px;*/
	margin-right: 10px;
	vertical-align: middle;
}

.default-checkbox + .custom-checkbox {
	background-position: -21px, 0px;
	height: 19px;
	width: 19px;
	display: inline-block;
}

.default-checkbox:checked + .custom-checkbox {
	background-position: -1px, 0px;
	height: 19px;
	width: 19px;
	display: inline-block;
}

